@model ReporteTransacciones

@if (Model.Transacciones.Count() == 0)
{
    <h5>No hay datos para mostrar</h5>
}
else
{
    <div>
        <table class="table">
            <tbody>
                @foreach (var trGroup in Model.Transacciones)
                {
                    <tr style="background-color: #EBEDEF;">
                        <td colspan="3">
                            @trGroup.FechaTransaccion.Day
                            <span class="badge bg-secondary">
                                @trGroup.FechaTransaccion.ToString("ddd")
                            </span>
                        </td>
                        <td class="activo">$@trGroup.BalanceDepositos</td>
                        <td class="pasivo">$@trGroup.BalanceRetiros</td>
                    </tr>
                    @foreach (var transaccion in trGroup.Transacciones)
                    {
                        <tr style="vertical-align: middle;">
                            <td>
                                <a asp-controller="Transacciones" asp-action="Update"
                                   asp-route-id="@transaccion.Id" asp-route-urlRetorno="@ViewBag.urlRetorno">
                                    <i class="bi-pencil"></i>
                                </a>
                            </td>
                            <td>@transaccion.Cuenta</td>
                            <td>@transaccion.Categoria</td>
                            <td class="activo">@(transaccion.TipoOperacionId == TipoOperacion.Ingreso ? $"${transaccion.Monto}" : "")</td>
                            <td class="pasivo">@(transaccion.TipoOperacionId == TipoOperacion.Gasto ? $"${transaccion.Monto}" : "")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}