@model ReporteTransacciones


<h4>
    <a asp-route-month="@ViewBag.pastMonth" asp-route-year="@ViewBag.pastYear" class="btn btn-secondary">
        <i class="bi-chevron-left"></i>
    </a>
    @Model.FechaInicio.ToString("MMM") - @Model.FechaInicio.Year;
    <a asp-route-month="@ViewBag.nextMonth" asp-route-year="@ViewBag.nextYear" class="btn btn-secondary">
        <i class="bi-chevron-right"></i>
    </a>
</h4>

<div class="contenedor-totales mb-3">
    <div>
        <div>
            <strong>Depósitos</strong>
        </div>
        <div class="activo balance">
            @Model.BalanceDepositos.ToString("N")
        </div>
    </div>
    <div>
        <div>
            <strong>Retiros</strong>
        </div>
        <div class="pasivo balance">
            @Model.BalanceRetiros.ToString("N")
        </div>
    </div>
    <div>
        <div>
            <strong>Total</strong>
        </div>
        <div class="balance">
            @Model.Total.ToString("N")
        </div>
    </div>
</div>

@if (Model.Transacciones.Count() == 0)
{
    <h5>No hay datos para mostrar</h5>
}
else
{
    <div>
        <table class="table">
            <tbody>
                @foreach (var trGroup in Model.Transacciones)
                {
                    <tr style="background-color: #EBEDEF;">
                        <td colspan="3">
                            @trGroup.FechaTransaccion.Day
                            <span class="badge bg-secondary">
                                @trGroup.FechaTransaccion.ToString("ddd")
                            </span>
                        </td>
                        <td class="activo">$@trGroup.BalanceDepositos</td>
                        <td class="pasivo">$@trGroup.BalanceRetiros</td>
                    </tr>
                    @foreach (var transaccion in trGroup.Transacciones)
                    {
                        <tr style="vertical-align: middle;">
                            <td>
                                <a asp-controller="Transacciones" asp-action="Update"
                                   asp-route-id="@transaccion.Id" asp-route-urlRetorno="@ViewBag.urlRetorno">
                                    <i class="bi-pencil"></i>
                                </a>
                            </td>
                            <td>@transaccion.Cuenta</td>
                            <td>@transaccion.Categoria</td>
                            <td class="activo">@(transaccion.TipoOperacionId == TipoOperacion.Ingreso ? $"${transaccion.Monto}" : "")</td>
                            <td class="pasivo">@(transaccion.TipoOperacionId == TipoOperacion.Gasto ? $"${transaccion.Monto}" : "")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}